<form
  [formGroup]="passwordForm()"
  (ngSubmit)="changePassword.emit()"
  class="w-full">
  <!-- Current Password -->
  <div class="mb-4 border-b border-gray-200 pb-6">
    <label
      class="block text-base font-medium text-gray-800 mb-1"
      for="oldPassword">
      Current Password
    </label>

    <input
      type="password"
      id="oldPassword"
      formControlName="oldPassword"
      class="w-full px-4 py-2 border border-gray-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      placeholder="Enter current password" />
  </div>

  <!-- New Password -->
  <div class="mb-4">
    <label
      class="block text-base font-medium text-gray-800 mb-1"
      for="password">
      New Password
    </label>

    <input
      type="password"
      id="password"
      formControlName="password"
      class="w-full px-4 py-2 border border-gray-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      placeholder="Enter new password" />
  </div>

  <!-- Confirm Password -->
  <div class="mb-6">
    <label
      class="block text-base font-medium text-gray-800 mb-1"
      for="rePassword">
      Confirm New Password
    </label>

    <input
      type="password"
      id="rePassword"
      formControlName="rePassword"
      class="w-full px-4 py-2 border border-gray-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      placeholder="Confirm new password" />
  </div>

  <!-- Submit Button -->
  <button
    type="submit"
    [disabled]="!passwordForm().valid || isLoading()"
    class="w-full px-8 py-2.5 bg-blue-600 text-white font-medium hover:bg-blue-700 disabled:bg-gray-300 disabled:cursor-not-allowed transition-all duration-200 text-sm">
    {{ isLoading() ? 'Changing...' : 'Update Password' }}
  </button>
</form>
