<div class="md:w-[28.25rem] w-full">
  <h4 class="text-gray-800 text-2xl font-bold mb-3 font-inter">
    Create a New Password
  </h4>

  <p class="text-gray-500 text-sm mb-10">
    Create a new strong password for your account.
  </p>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="mb-4">
      <label class="block text-gray-800 font-medium mb-2" for="newPassword">
        New Password
      </label>

      <div class="relative">
        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="newPassword"
          placeholder="********"
          formControlName="newPassword"
          class="w-full border border-gray-200 p-2 pr-10 placeholder:text-gray-400"
          required
          appFieldError
          errorClass="border-red-500"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600"
        >
          @if (showPassword()) {
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.5 10C2.5 10 5.83333 4.16667 10 4.16667C14.1667 4.16667 17.5 10 17.5 10C17.5 10 14.1667 15.8333 10 15.8333C5.83333 15.8333 2.5 10 2.5 10Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          } @else {
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.5 10C2.5 10 5.83333 4.16667 10 4.16667C14.1667 4.16667 17.5 10 17.5 10C17.5 10 14.1667 15.8333 10 15.8333C5.83333 15.8333 2.5 10 2.5 10Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.33333 3.33333L16.6667 16.6667"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          }
        </button>
      </div>

      <app-field-error controlName="newPassword" errorKey="required">
        New password is required
      </app-field-error>
    </div>

    <div class="mb-4">
      <label
        class="block text-gray-800 font-medium mb-2"
        for="confirmNewPassword"
      >
        Confirm New Password
      </label>

      <div class="relative">
        <input
          [type]="showConfirmPassword() ? 'text' : 'password'"
          id="confirmNewPassword"
          placeholder="********"
          formControlName="confirmNewPassword"
          class="w-full border border-gray-200 p-2 pr-10 placeholder:text-gray-400"
          required
          appFieldError
          errorClass="border-red-500"
        />
        <button
          type="button"
          (click)="toggleConfirmPasswordVisibility()"
          class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600"
        >
          @if (showConfirmPassword()) {
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.5 10C2.5 10 5.83333 4.16667 10 4.16667C14.1667 4.16667 17.5 10 17.5 10C17.5 10 14.1667 15.8333 10 15.8333C5.83333 15.8333 2.5 10 2.5 10Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          } @else {
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.5 10C2.5 10 5.83333 4.16667 10 4.16667C14.1667 4.16667 17.5 10 17.5 10C17.5 10 14.1667 15.8333 10 15.8333C5.83333 15.8333 2.5 10 2.5 10Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.33333 3.33333L16.6667 16.6667"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          }
        </button>
      </div>

      <app-field-error controlName="confirmNewPassword" errorKey="required">
        Confirm new password is required
      </app-field-error>

      <app-field-error
        controlName="confirmNewPassword"
        errorKey="passwordMismatch"
      >
        Passwords do not match
      </app-field-error>
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-3 text-sm font-medium mb-9"
    >
      Reset Password
    </button>

    <div class="text-center text-gray-500 text-sm font-medium">
      Don't have an account?
      <a
        [routerLink]="['/' + appRoutes.auth.root, appRoutes.auth.register]"
        class="text-blue-600"
      >
        Create yours
      </a>
    </div>
  </form>
</div>
